
body {
    background-image: url("https://live.staticflickr.com/4100/4923566097_8fb8bcc415_b.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.title {
    font-size: 2.8em;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: rgba(201, 32, 54, 1);

    margin: 0.5em 1em;
}

.subtitle {
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: rgba(196, 10, 34, 1);
}

.box {
    border: 0.2em double rgba(30, 101, 56, 1);
}

.plus {
    background:rgb(252, 201, 106);
    font-family: "Rubik", monospace;
    text-align: center;
    color: black;

    width: 5.8em;
    padding: 5px 3px;
    border: 3px solid rgb(232, 181, 86);
    border-radius: 4px;
    transition: all 0.4s ease 0s;
}


.plus:visited, .plus:link {
    background:rgb(252, 201, 106);
    font-family: "Rubik", monospace;
    text-align: center;
    color: black;

    width: 5.8em;
    padding: 5px 3px;
    border: 3px solid rgb(232, 181, 86);
    border-radius: 4px;
    transition: all 0.4s ease 0s;
}

.plus:hover {
    color: red;
    padding: 9px 7px;
    border: 2px solid rgb(202, 161, 66);
}

.title-article {
    font-family: "Noto Serif", serif;
    text-decoration: underline;
    color: rgb(248, 193, 41);
    font-size: 2em;
}

.article {
    background: rgba(131, 130, 130, 0.6);

    padding: 10px 10px;
    border:3px solid rgba(220, 220, 220, 0.4);
    border-radius: 4px;
}

.resume {
    color: white;
    font-family: "Quicksand", sans-serif;
    width: 50%;
    margin-right: 6.5em;
    font-size: 1.2em;
    text-indent: 0.8em;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.img-description {
    color: white;
    font-family: "Quicksand", sans-serif;
    padding: 0px 0px;
    margin: 0px 0px;
}


/* ====== ids ======= */

#authors {
    text-align: right;
    font-family: "Rubik", monospace;

    font-size: 1.4em;
    color: white;

    margin: 10px 10px;
}

#rutherford {
    width: 7em;
    margin-left: auto;
    margin-right: 15em;
    margin-bottom: 0;
    /* padding: 0px 0px; */
    
}

#fusion-schema {
    width: 10em;
}

.jardin {
    animation-name: jardin-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    text-decoration: none;
}


@keyframes jardin-anim {
    0% {
        color: rgba(201, 32, 54, 1);
    }

    50% {
        color: rgb(29, 135, 0);
    }

    100% {
        color: rgba(201, 32, 54, 1);
    }
}


#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity/see-through */
    /* border: 3px solid; */
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: inherit;
    font-family: monospace;
    letter-spacing: 2px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}