
.titre-article {
    color: rgb(0, 212, 212);
    text-align: center;

    padding: 1em 1em;
    border: 0.2em dotted aquamarine ;
    margin: 2em 1em;
}


.list-item {
    color: white;
    font-size: 1.4em;

}